body {
  background-color: pink;
  direction: rtl;
}
#title {
  color: rgb(0, 162, 255);
  margin-right: 30px;
  font-size: 60px;
}

.checkbox {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-right: 130px;
  margin-left: 25px;
}

.task-container {
  display: flex;
  font-size: larger;
}

.task-points {
  width: 70px;
  padding-right: 10px;
  padding-top: 10px;
}

.task-checkbox {
  padding: 10px;
}
